# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Database
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Migrations Cache
**/__pycache__/